body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui !important;
}
* {
  font-family: system-ui !important;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
